/* --- Reset --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Commons --- */

img {
    display: block;
}
button {
    cursor: pointer;
}
.mar20 {
    margin: 20px;
}
.pad20 {
    padding: 20px;
}
/* --- Flex --- */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}