/* --- Reset --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Commons --- */

img {
    display: block;
    width: 100%;
}
button, label {
    cursor: pointer;
}
.hidden {
    display: none;
}
.mar20 {
    margin: 20px;
}
.pad20 {
    padding: 20px;
}
.mtop20 {
    margin-top: 20px;
}
.mbot20 {
    margin-bottom: 20px;
}
.mbot5 {
    margin-bottom: 5px;
}
/* --- Flex --- */

.flex {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}