/* --- Hovers --- */


label {
    transition: color 0.5s;
}
label:hover {
    color: white;
}
label img {
    transition: filter 0.5s;
}
label:hover img{
    filter: none;
}

a {
    transition: color .5s;
}
a:hover {
    color: white;
}
a i {
    transition: background-color .5s;
}
a:hover i {
    background-color: white;
}

.middle-player button, header button {
    transition: scale .2s;
}
.middle-player button:hover, header button:hover {
    scale: 1.25;
}

/* Footer Player */

.left-player span {
    transition: text-decoration .2s;
    transition: color .2s;
}
.left-player span:hover {
    text-decoration: underline;
    color: white;
}
.left-player i {
    transition: color .2s;
}
.left-player i:hover {
    color: white;
}

.song-atm.barra, .volume-atm.barra {
    transition: background-color .5s;
}
.song-duration:hover .song-atm, .volume-max:hover .volume-atm {
    background-color: limegreen;
}
.barra-circle {
    transition: opacity .2s;
}
.song-duration:hover .barra-circle, .volume-max:hover .barra-circle {
    opacity: 1;
}