/* --- Main --- */

main img {
    aspect-ratio: 1;
}

/* Radio Buttons */

#nav-radios {
    max-width: 620px;
    margin: auto;
}
#nav-radios  ul {
    list-style: none;
}
#nav-radios  ul > li {
    margin-bottom: 15px;
}
#nav-radios  input {
    appearance: none;
}
#nav-radios  li:not(:last-child) {
    margin-right: 10px;
}
#nav-radios  label {
    position: relative;
    padding-bottom: 5px;
}
/* pseudoelemento da colorare */
#nav-radios  label div {
    position: absolute;
    bottom: 0;
    left: calc( 50% - 15px );
    width: 30px;
    height: 2px;
    transition: background-color 0.5s;
}
#nav-radios  input:checked + label div {
    background-color: limegreen;
}

/* Recently Played */

.col {
    width: calc(100% / 6 - 20px);
    margin: 0 20px 20px 0;
}
.img-text {
    text-align: center;
}
.img-text span {
    font-size: 14px;
}
.img-text {
    margin-top: 10px;
}

/* Hover Items */

.img-container {
    position: relative;
}
.img-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 60px;

    opacity: 0;
}
/* Popular */

#popular .col img {
    border-radius: 100%;
}

/* Columns RESPONSIVE */

@media screen and ( max-width: 1100px) {
    .col {
        width: calc(100% / 4 - 20px);
    }
}
@media screen and ( max-width: 700px) {
    .col {
        width: calc(100% / 2 - 20px);
    }
}