/* --- Navbar Layout Desktop --- */

.radios img, .user img {
    display: inline-block;
    width: 30px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-right: 8px;
}
div.flex-column {
    height: calc(100% - 90px);
    overflow-y: hidden;
}

/* Logo */

.logo {
    height: 90px;
}
.logo img {
    width: 80%;
}
.logo img.hidden {
    width: 30px;
}

/* Radio buttons */

.radios img {
    filter: invert(46%) sepia(0%) saturate(486%) hue-rotate(152deg) brightness(90%) contrast(69%);
}
.radios div {
    margin-bottom: 10px;
}
.radios span {
    vertical-align: middle;
}
.radios input {
    appearance: none;
    vertical-align: middle;
    border-left: 2px solid black;
    height: 30px;
    padding-right: 12px;
    transition: border-left 0.5s;
}
.radios input:checked {
    border-left: 2px solid limegreen;
}
input:checked + label{
    color: white;
}
.radios input:checked + label img {
    filter: none;
}
/* Playlist */

div.playlist {
    height: 100%;
    overflow-y: hidden;
}
.playlist h4 {
    padding-bottom: 10px;
}
.playlist i {
    color: black;
    background-color: #717171;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 4px;
}
.playlist ul {
    list-style: none;
    overflow-y: auto;
    height: 100%;
}
.playlist li {
    margin: 10px 0;
}

/* User */

nav div.flex-column > div:last-child {
    margin-top: auto;
    background-color: black;
}
img.dload {
    display: inline-block;
    width: 15px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-right: 4px;
}
nav a {
    color: inherit;
    text-decoration: none;
}
nav hr {
    border-top: 1px solid #717171;
    margin: 10px 0 20px;
    width: 190px;
}
.user img {
    background-color: #717171;
    border-radius: 50%;
}
/* --- Navbar Layout Mobile --- */

@media screen and ( max-width: 600px ) {
    .logo img:first-child, nav span, .playlist, nav hr {
        display: none;
    }
    .logo img.hidden {
        display: block;
    }
    .radios img, .user img {
        margin: 0;
    }
    .dload {
        margin: 20px 7px;
    }
    nav .mar20 {
        margin: 10px;
    }
    nav .pad20 {
        padding: 10px;
    }
    .radios input {
        padding-right: 3px;
    }
}