/* --- Typography --- */

body {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

h1, h2, h3, h4, h5 {
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
/* Header */

header button {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
header h4 {
    text-transform: uppercase;
}

/* Nav */

nav {
    font-weight: 700;
}
nav .user span {
    color: white;
}
/* Main */

.container-radios label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}